body { 
  background-image: url("websitebc4.jpg"); 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  background-size: cover; 
} 
h1 
{ 
text-align:center; 
color:white; 
font-family:"Lucida Handwriting" 
} 
 
.parentDiv {   
display: flex;  
justify-content: center;  
align-items: center;} 
 
.topnav {

